.list-remove:hover{
    color: rgb(240,32,124)
}
.App {
   
   padding-top:20px;
   display:flex;
   flex-direction:column;
   

    
}


.list-group-item{
    margin-top: 10px;
    
}


.list-item {
    display: inline-block; 
    margin-bottom: 10px;
    
    
}